

body{
    margin: 0%;
    padding: 0%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCzCcz8rcjHWijRjJvES8ErWxPOLU5eFieAg&usqp=CAU");
}
.greenDiv{
    align-content: center;
    background-color: rgb(117, 244, 153);
    text-align: center;
    padding: 50px;
    width: 90%;
    margin: auto;
}

.greenDiv p{
    align-items: center;
    font-size: 20px;
}

#written{
    text-align: center;
    padding-top: 100px;
    font-style: oblique;
    color: rgb(26, 209, 255);
}

#mutidiv{
    align-content: center;
    background-color: rgb(135, 214, 157);
    text-align: center;
    height: auto;
    padding: 50px;
    width: 90%;
    margin: auto;
}

#ele1{
    display: inline;
    padding: 2%;
    border-radius: 25px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: rgb(130, 86, 130);
}

#ele2{
    padding: 2%;
    display: inline;
    border-radius: 25px;
    margin: 10px;
    height: 50%;
    width: 50%;
    border: 5px solid green;
    color:  rgb(2, 111, 2);
    background-color: white;
}
#ele3{
    display: inline;
    margin: 10px;
    border-radius: 25px;
    padding: 2%;
    height: 500%;
    width: 50%;
    color:  ;
    background-color: grey;
}

.last{
    
    border: 5px solid white;
    align-content: center;
    text-align: center;
    color:white;
}